{% extends 'base.html.twig' %}

{% block content %}
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.name }}
                <a href="/delete?id={{ task.id }}">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
    <a href="/add">Ajouter une tâche</a>
{% endblock %}
